html{
    font-family: sans-serif;
}

body{
    margin: 0;
    background-color: #eee;
}

header{
    background-color:rgb(50, 50, 51);
    color: white;
    padding: 3rem;
}

#titulo{
    font-size: 1rem;
    text-align: center;
}

.subtitulo{
    padding: 0px 0px 0px 200px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5) ;
}

.subtitulo h2{
    color: black;
}

.menu{
    position: fixed;
    width: 100px;
    background-color: rgb(48, 47, 49);
    border-radius: 0px 5px 5px 5px;
    transition: box-shadow 0.3s ease;
}

.menu:hover{
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5)
}
nav div {
    transition: background-color 0.3s ease; 
    padding-top: 60px;
    height: 70px;
    width: 100px;
    text-align: center;
    background-color:rgb(46, 45, 46);
    border-radius: 5px;
}
nav div:hover{
    background-color:rgb(70, 69, 71);
}
nav div a{
    text-decoration:none;
    color: white;
}

.contenedor{
    display: grid;
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    grid-gap: 50px;
    grid-template-columns: 300px 500px ;
    grid-template-rows: repeat(1, [row-inicio] 600px [row-fin]);
}

.contenedor2{
    display: grid;
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    grid-gap: 50px;
    grid-template-columns: 300px 500px ;
    grid-template-rows: repeat(1, [row-inicio] 600px [row-fin]);
}


.imagen{
    text-align: center;
    background-color: rgba(179, 187, 187, 0.993);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    transition: box-shadow 0.3s ease;
    font-size: 15px;
}

.imagen img{
    margin-top: 8px;
    border-radius: 4px;
}

.post2{
    margin-top: 8px;
}

.info{
    background-color: rgba(179, 187, 187, 0.993);
    margin: 1rem 0;
    border-radius: 0.2rem;
    padding: 5px 20px;
    transition: box-shadow 0.3s ease;

}

footer{
    background-color:rgb(37, 33, 43);
    color:white;
    padding: 3rem;
}

footer section{
    float: right;
}

footer p {
    margin: 0
}

footer a{
    padding-right: 20px;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: rgb(98, 42, 163);
}