:root {
   --background : #F1E9F5;
   --white: #FFFFFF;
   --black: #000000;
   --md-blue: #3F8ED9;
   --text-input-field: #F7F7F7;
   --dark-blue: #141942;
   --sm: 14px;
   --md: 16px;
   --lg: 18px;
}
body {
   margin: 0;
   font-family: 'Quicksand', sans-serif;
   background-color: var(--background);
}

body {
   margin: 0;
   font-family: 'Quicksand', sans-serif;
}
nav {
   display: flex;
   justify-content: space-between;
   padding: 0 30px;
   border-bottom: 1px solid var(--md-blue);
}	
.menu {
   display: none;
}
.logo {
   width: 100px;
}
.navbar-left ul, .navbar-right ul{
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   align-items: center;
   height: 60px;
}
.navbar-left {
   display: flex;
}
.navbar-left ul {
   margin-left: 12px;
}
.navbar-left ul li a, .navbar-right ul li a {
   text-decoration: none;
   color: var(--dark-blue);
   border: 1px solid var(--background);
   padding: 8px;
   border-radius: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover {
   color: var(--dark-blue);
   border: 1px solid var(--md-blue);
   background-color: var(--md-blue);
}

/* encabezado */


.contenedor img{
   width: 50%;
   height: 400px;
}

/* */
.informacion{
   display: flex;
   align-content: center;
   margin: 0;
   padding: 2%;
   height: 20%;
   background-color: #f8f6f8;
}

.selectorEncabezado{
   display: flex;
   flex-direction: column;
}

.selectorEncabezado button {
   width: 150px;
}

.tablink {
   background-color: #5b57d7;
   color: var(--dark-blue);
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   font-size: 17px;
   width: 33.33%;
}

/* Change background color of buttons on hover */
.tablink:hover {
   background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
   color: var(--dark-blue);
   display: none;
   padding: 25px;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 19px;
}

/* Style each tab content individually */
#definicion {background-color: var(--background);}
#descripcion {background-color: var(--background)}
#justificacion {background-color: var(--background);}