/* mi metodo
body{
    background-color:lightgray;
}
.one{
    background-color:floralwhite;
    padding:12px;
    margin: 0.2px;
    border:1px outset;
    border-radius: 6px;
}

#bt1{
    background-color:rgb(81, 95, 218);
    padding:10px;
    border: 1px;
}

#bt2{
    background-color:gray;
    padding:10px;
    border: 1px;
}
*/
body{
    background-color:rgb(206, 198, 198);
}

.caja{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 209, 209);
    border-radius: 6px;
    border-top: solid 0px;
}

.contenido{
    padding: 15px;
}

.header{
    padding:10px;
    border-bottom: solid 1px #eee;
}

.footer{
    padding:10px;
    border-top: solid 1px #eee;
}

.primario{
    border: 2px;
    background-color:rgb(89, 144, 245);
    color:#fff;
    padding:5px;
}

.secundario{
    border: 2px;
    background-color: rgb(184, 170, 170);
    padding:5px;
    color:#fff;
}
