body{
    background-color:#eee;
}

.dropdawn-btn{
    background-color: rgb(38, 158, 38);
    color:#fff;
    padding: 16px;
    font-size: 16px;
    border:none;
    /*cuando pase el maus por encima cambie*/
    cursor: pointer;
    border-radius: 30px;
}

.dropdawn {
    position: relative;
    display: inline-block;
}

.dropdawn:hover .dropdawn-btn{
    background-color:green;
}

.dropdawn-content{
    display: none;
    position:absolute;
    background-color: rgb(243, 238, 238);
    min-width: 180px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    border-radius:30px;
}

.dropdawn-content a{
    color: black;
    /* padding: horizontal vertical */
    padding: 12px 16px;
    text-decoration:none;
    display:block;
}

.dropdawn-content a:hover{
    background-color:rgb(223, 218, 218);
    border-radius: 30px;
}

.dropdawn:hover .dropdawn-content{
    display:block;
}

.contenido_inicio{
    padding: 90px;
}